
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="wrapper">
        <a href="{{url_for('main')}}" class="back-btn">Back</a>

        <div class="container">
            <!-- Left Section -->
            <div class="left-section">
                <a href="{{url_for('register')}}" class="signup-btn">Sign Up</a>
                <div class="image-placeholder">
                    <img src="../img/login.jpg" alt="Login Image" class="placeholder-image">
                </div>
                
            </div>
        
        <!-- Right Section -->
        <div class="right-section">
            <div class="login-form">
                <h2>Login</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.username }}
                    {{ form.password(class="form-control") }}
                    {{ form.submit() }}
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
