<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>

<h1>Users List</h1>

 <div class="content-area">
        <p1>Possible Connections</p1>
        <br>

        <table border="1">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Course</th>
                    <th>Accom</th>
                    <th>Humor</th>
                    <th>Gender</th>
                    <th>Age</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>        <!-- Username -->
                    <td>{{ user.course }}</td>          <!-- Course -->
                    <td>{{ user.accom }}</td>           <!-- Accom -->
                    <td>{{ user.humor }}</td>           <!-- Humor -->
                    <td>{{ user.gender }}</td>          <!-- Gender -->
                    <td>{{ user.age }}</td>  
 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        


</body>
</html>
